
.p-wrap{
    width:26% !important;
    padding: 10px 25px;
    border:2px solid rgb(231, 231, 231);
    margin-bottom: 15px !important;
}

.p-wrap p{
    line-height: 21px;
}

.p-wrap h3{
    margin-bottom: 13px !important;
    text-transform: uppercase;
}